/* resets */

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

html {
    height: 100%;
}

/* body */

body {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 57px 1fr;
    height: 100%;
    margin: 0;
}

/* dialogs */

#listDialog {
    border: 1px solid grey;
    border-radius: 10px;
    padding: 10px;
}

#listForm > button {
    padding-top: 0;
    padding-bottom: 0;
}

#listForm > input {
    height: 24px;
    margin-right: 10px;
}

::backdrop {
    opacity: 40%;
    background: lightgrey;
}
/* header */

header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

header > div {
    display: flex;
    gap: 10px;
}

header > div > h1 {
    align-self: center;
    justify-self: start;
    padding-left: 15px;
    padding-top: 8px;
}

header > div > button {
    width: 30px;
    height: 30px;
    align-self: center;
    margin-right: 15px;
}

header > .divider {
    justify-self: flex-end;
    align-self: center;
    width: 98%
}

/* sidebar */

#sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    border-right: 1px solid lightgrey;
    box-shadow: -1px 0px 6px 1px lightgrey;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

/* projects */
#projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-top: 10px;
    gap: 10px;
    width: 100%;
    place-items: center;
}

#projects > button {
    height: 50px;
    width: 100px;
}

/* divider */

.divider {
    background-color: lightgrey;
    height: 1px;
    width: 89%;
}

/* Lists */

#lists {
    display: grid;
    grid-template-columns: 1fr 30px;
    grid-template-rows: 30px 1fr;
    overflow: auto;
    padding: 0 10px 0 10px;
    width: 100%;
}

#lists > h4 {
    align-self: center;
    justify-self: start;
}

#lists > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* todo */

#todo {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding: 10px;
    height: 100%;
    overflow: auto;
}

.item {
    display: grid;
    grid-template-columns: 15px 1fr;
    grid-template-rows: 1em 1em;
    height: 45px;
    gap: 5px;
}

.item > * {
    margin: 0;
    padding: 0;
}

.item > input {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    border-radius: 100%;
}

.item > h3 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    font-weight: 500;
}

.item > h6 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    font-weight: 400;
}