/* resets */

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

html {
    height: 100%;
}

/* body */

body {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 57px 1fr;
    height: 100%;
    margin: 0;
}

/* header */

header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

#headerContainer {
    display: flex;
    gap: 10px;
}

#currentView {
    align-self: center;
    justify-self: start;
    padding-left: 15px;
    padding-top: 8px;
}

#addTodo {
    width: 30px;
    height: 30px;
    align-self: center;
    margin-right: 15px;
}

header > .divider {
    justify-self: flex-end;
    align-self: center;
    width: 98%
}

/* divider */

.divider {
    background-color: lightgrey;
    height: 1px;
    width: 89%;
}

/* remove and edit buttons */

.remove, .edit {
    height: min-content;
    width: min-content;;
    padding: 0;
    margin: 0;
    display: none;
    background: none;
    border: none;
}

.edit {
    margin-left: auto;
    padding-right: 10px;
}

.list-item-container:hover .remove,
.list-item-container:hover .edit,
.todo-item:hover .remove,
.todo-item:hover .edit {
    display: block;
}


/* active */
.active-list {
    background-color: aliceblue;
}

.active-todo {
    border: 1px solid lightgrey;
}

/* sidebar */

#sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    border-right: 1px solid lightgrey;
    box-shadow: -1px 0px 6px 1px lightgrey;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

/* sidebar: views */

#views {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-top: 10px;
    gap: 10px;
    width: 100%;
    place-items: center;
}

.view-btn {
    height: 50px;
    width: 100px;
}

/* sidebar: lists */

#lists {
    display: grid;
    grid-template-columns: 1fr 30px;
    grid-template-rows: 30px 1fr;
    overflow: auto;
    padding: 0 10px 0 10px;
    width: 100%;
}

#lists > h4 {
    align-self: center;
    justify-self: start;
}

#listContainer {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    grid-column: 1 / 3;
}

#addList {
    height: 28px;
    width: 28px;
}

.list-item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    width: 100%;
    height: 25px;
    border: none;
    border-radius: 5px;
}

.list-item-container:hover {
    background-color: aliceblue;
}

/* todo */

#todoContainer {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding: 10px;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.todo-item {
    display: flex;
    gap: 10px;
    height: 30px;
    align-items: center;
    padding: 20px 5px 20px 5px;
    border-radius: 5px;
}

.todo-item > * {
    margin: 0;
    padding: 0;
}

.todo-item > input {
    border-radius: 100%;
}

.todo-content {
    display: flex;
    flex-direction: column;
    height: min-content;
}

.todo-title {
    font-weight: 500;
    line-height: 1;
}

.todo-description {
    line-height: 1;
    font-weight: 300;
    padding-bottom: 1px;
}

.todo-datetime {
    line-height: 1;
    font-weight: 400;
}

.hidden {
    display: none;
}

.item-container {
    height: min-content;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 5px;
}

.item-container > h2 {
    line-height: 1;
}

.todo-item .edit {
    margin-left: auto;
}

/* dialogs */

dialog {
    border: 1px solid grey;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
}

#listForm > button {
    padding-top: 0;
    padding-bottom: 0;
}

#listForm > input,
.todoInput > input {
    height: 24px;
    margin-right: 10px;
}

::backdrop {
    opacity: 40%;
    background: lightgrey;
}

#todoForm {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#todoForm > :last-child {
    align-self: flex-end;
}